extends layout.pug

block content
  h1.time Time: 

  p.task #{afternoonRoutine[0].task} -  #{afternoonRoutine[0].startHour}:#{afternoonRoutine[0].displayStartMinutes} - #{afternoonRoutine[0].endHour}:#{afternoonRoutine[0].displayEndMinutes}

  p.task #{afternoonRoutine[1].task} -  #{afternoonRoutine[1].startHour}:#{afternoonRoutine[1].displayStartMinutes} - #{afternoonRoutine[1].endHour}:#{afternoonRoutine[1].displayEndMinutes}

  p.task #{afternoonRoutine[2].task} -  #{afternoonRoutine[2].startHour}:#{afternoonRoutine[2].displayStartMinutes} - #{afternoonRoutine[2].endHour}:#{afternoonRoutine[2].displayEndMinutes}

  p.task #{afternoonRoutine[3].task} -  #{afternoonRoutine[3].startHour}:#{afternoonRoutine[3].displayStartMinutes} - #{afternoonRoutine[3].endHour}:#{afternoonRoutine[3].displayEndMinutes}

  p.task #{afternoonRoutine[4].task} -  #{afternoonRoutine[4].startHour}:#{afternoonRoutine[4].displayStartMinutes} - #{afternoonRoutine[4].endHour}:#{afternoonRoutine[4].displayEndMinutes}

  p.task #{afternoonRoutine[5].task} -  #{afternoonRoutine[5].startHour}:#{afternoonRoutine[5].displayStartMinutes} - #{afternoonRoutine[5].endHour}:#{afternoonRoutine[5].displayEndMinutes}

  p.task #{afternoonRoutine[6].task} -  #{afternoonRoutine[6].startHour}:#{afternoonRoutine[6].displayStartMinutes} - #{afternoonRoutine[6].endHour}:#{afternoonRoutine[6].displayEndMinutes}

  p.task #{afternoonRoutine[7].task} -  #{afternoonRoutine[7].startHour}:#{afternoonRoutine[7].displayStartMinutes} - #{afternoonRoutine[7].endHour}:#{afternoonRoutine[7].displayEndMinutes}
 
  p.task #{afternoonRoutine[8].task} -  #{afternoonRoutine[8].startHour}:#{afternoonRoutine[8].displayStartMinutes} - #{afternoonRoutine[8].endHour}:#{afternoonRoutine[8].displayEndMinutes}
  
  p.task #{afternoonRoutine[9].task} -  #{afternoonRoutine[9].startHour}:#{afternoonRoutine[9].displayStartMinutes} - #{afternoonRoutine[9].endHour}:#{afternoonRoutine[9].displayEndMinutes}
