extends layout.pug

block content
  h1.time Time: 

  each task, i in afternoonRoutine
    p.task #{afternoonRoutine[i].task} -  #{afternoonRoutine[i].startHour}:#{afternoonRoutine[i].displayStartMinutes} - #{afternoonRoutine[i].endHour}:#{afternoonRoutine[i].displayEndMinutes}