extends layout.pug

block content
  h1.time Time: 

  each task, i in morningRoutine
    p.task #{morningRoutine[i].task} -  #{morningRoutine[i].startHour}:#{morningRoutine[i].displayStartMinutes} - #{morningRoutine[i].endHour}:#{morningRoutine[i].displayEndMinutes}