extends layout.pug

block content
  h1.time Time: 

  each task, i in nightRoutine
    p.task #{nightRoutine[i].task} -  #{nightRoutine[i].startHour}:#{nightRoutine[i].displayStartMinutes} - #{nightRoutine[i].endHour}:#{nightRoutine[i].displayEndMinutes}