extends layout

block content
  h1.time Time: 

  if morningRoutine
      h2  Go to bed by #{morningRoutine[morningRoutine.length-1].startHour}:#{morningRoutine[morningRoutine.length-1].displayStartMinutes} before the next workday.
  if afternoonRoutine
    h2  Go to bed by #{afternoonRoutine[afternoonRoutine.length-1].startHour}:#{afternoonRoutine[afternoonRoutine.length-1].displayStartMinutes} before the next workday.
  if nightRoutine
    h2  Go to bed by #{nightRoutine[nightRoutine.length-1].startHour}:#{nightRoutine[nightRoutine.length-1].displayStartMinutes} before the next workday.